@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@*
    @model Dalgucci.Models.Member
    <body>
        <h1>회원가입을 축하드립니다</h1>
        <p>아이디: = @Member.MemberID  </p>
        <p>닉네임: @Member.NickName</p>
        <p>이메일: @Member.Email</p>
    </body>*@
<body>

    <h1>회원가입을 축하드립니다</h1>
    <a href="/Account/Sign_up"><button>버튼</button></a>
</body>

