<!DOCTYPE html>
<html>
<head>
    <script src="https://code.jquery.com/jquery-1.9.1.min.js"></script>
    <title>선바람-상세페이지</title>
    <style>
	@@import url(//fonts.googleapis.com/earlyaccess/jejumyeongjo.css);

	*{
	 font-family: 'Jeju Myeongjo', serif;
	}
	.wrapper{
		margin:0 auto;
		width:1500px;
		height:auto;
	}
	.container{
		width:1300px;
		height:100px;
		position:absolute;
		z-index:100;
		margin-left:100px;
	}

	/*상단메뉴*/
	.my_menu{
		width: 360px;
		height:30px;
		margin-left:940px;
		margin-bottom:0;
		position:absolute;
		z-index:2;
	}
	.my_menu > ul{
		height:30px;
		padding:0;
	}
	.my_menu > ul > a{
		color: black;
		text-decoration:none;
		float:left;
		margin-top:-15px;
		font-size: 10pt;
	}
	.my_menu > ul > a > li{
		list-style: none;
		height:30px;
		width:90px;
		line-height:30px;
	}
	.my_menu > ul > a > li:hover{
		text-decoration: underline;
	}

	/*메인메뉴*/
	.menu{
		width:1300px;
		height: 70px;
		background-color: rgba(255,255,255,0.5);
		position:absolute;
		margin-top:30px;
		z-index:10;
		box-shadow:0px 0px 6px 0px rgba(0,0,0,0.05);
	}
	.logo{
		width:250px;
		height:70px;
		float: left;
		margin-right: 246px;
		text-align: center;
		display: block;
	}
	.logo img{
		width: auto;
		height: 100%;
		display: inline;
	}
	.nav{
		width: 804px;
		height: 70px;
		float: left;
		text-align:center;
	}
	.nav > ul {
		width: 804px;
		height: 70px;
		list-style: none;
		margin-top:0px;
		padding:0;
	}

	.nav > ul > a {
		color: black;
		text-decoration:none;
		float:left;
		font-size: 15pt;
	}
	.nav > ul > a > li {
		line-height: 70px;
		width: 134px;
	}

	.nav > ul > a > li:hover{
		background-color: rgba(0,0,0,0.3);
		color:white;
		height:70px;
	}

	/*메인메뉴-서브메뉴*/
	.submenu{
		margin:0 auto;
		padding:0;
		width:134px;
		height: 250px;
		background-color: rgba(255,255,255,0.8);
		box-shadow:0px 3px 6px 3px rgba(0,0,0,0.16);
		display:none;
	}
	.submenu li{
		list-style:none;
		text-decoration:none;
		line-height: 50px;
		color:black;
		font-size:13pt;
	}
	.submenu li:hover{
		color:pink;
		text-decoration:underline;
	}

	/*상세이미지*/
	.detail_img{
		width:1300px;
		height:820px;
		margin:0 auto;
		overflow:hidden;
	}
	.detail_img img{
		padding-top:100px;
		width:1300px;
		position:relative;
	}
	.order{
		width:580px;
		height:520px;
		background-color:rgba(255,255,255,0.5);
		position:absolute;
		z-index:200;
		margin-top:270px;
		margin-left:690px;
		box-shadow:0px 3px 6px 3px rgba(0,0,0,0.1);
	}
	.item_name{
		width:524px;
		height:100px;
		margin:0 auto;
	}
	.item_name p{
		font-size:20pt;
		margin-bottom:30px;
	}
	.item_name span{
		font-size:18pt;
	}
	.detail_order{
		width:524px;
		height:360px;
		background-color:white;
		padding-top:10px;
		margin:0 auto;
	}
	.select1{
		margin:0 auto;
		width:476px;
	}
	.select2{
		margin:0 auto;
		width:476px;
	}
	.select3{
		margin:0 auto;
		width:476px;
	}
	.select1 select{
		width:476px;
		height: 50px;
		border-radius:0 0 0 0;
		font-size:15pt;
		margin-top:24px;
		padding-left:12px;
	}
	.select2 select{
		width:476px;
		height: 50px;
		border-radius:0 0 0 0;
		font-size:15pt;
		margin-top:12px;
		padding-left:12px;
	}
	.select3 select{
		width:476px;
		height: 50px;
		border-radius:0 0 0 0;
		font-size:15pt;
		margin-top:12px;
		margin-bottom:20px;
		padding-left:12px;
	}
	.price{
		margin:0 auto;
		width:476px;
		height:40px;
		margin-bottom:15px;
	}

	.buy_btn{
		margin:0 auto;
		width:476px;
		height:60px;
	}
	.buy_btn button{
		width:230px;
		height:60px;
		font-size:22pt;
		border-style:none;
		outline:none;
		cursor:pointer;
		background-color:rgba(0,0,0,0.5);
	}
	.buy_btn button> a{
		color:white;
		text-decoration:none;
	}
	.buy_btn button:hover{
		background-color:rgba(0,0,0,0.6);
	}
	.contents{
		width:1300px;
		height:80px;
		margin:0 auto;
	}
	.contents ul{
		width:1300px;
		height:80px;
		padding:0;
	}
    .contents ul > li {
        width: 430px;
        height: 80px;
        line-height: 80px;
        list-style: none;
        float: left;
        border: 1px solid rgb(110,98,89);
        text-align: center;
    }
	.contents ul > li > a{
		text-decoration:none;
		color:black;
		font-size:22pt;
	}
    .contents ul > li:hover {
        background-color: rgb(110,98,89);
    }
	.contents ul > li:hover a{
		color: white;
	}
	.imgs{
		width:1300px;
		height:auto;
		margin:0 auto;
	}
	.imgs img{
		margin-top:50px;
		margin-bottom:70px;
		width:100%;
	}

	/*푸터*/
	footer{
		width:1500px;
		height:361px;
		margin:0 auto;
		box-shadow:0 -1px 3px 0px rgba(0,0,0,0.1);
		position:absolute;
	}
	.undermenu{
		width:1500px;
		height:302px;
	}
	.undermenu_logo{
		width: 350px;
		height: 130px;
		float:left;
	}
	.undermenu_logo > img{
		width: 100%;
		margin-top:25.5px;
		margin-left:-25.5px;
	}
	.undermenu_content{
		width: 1000px;
		height: 258px;
		margin-left: 500px;
		padding-top:44px;
	}
	.undermenu_content span{
		font-size: 20pt;
		font-weight:bolder;
	}
	.undermenu_content ul{
		width: 182.5px;
		height:198px;
		padding:0;
		margin:0;
		float:left;
		margin-right:58px;
	}
	.undermenu_content ul > li{
		width: 182.5px;
		height:42px;
		line-height:42px;
		list-style:none;
		text-decoration:none;
		color: black;
	}
	.undermenu_content ul > li >a{
		text-decoration:none;
		color: black;
		font-size: 15pt;
	}
	.undermenu_content ul > li >a:hover{
		text-decoration:underline;
	}
	.copylight{
		width:1500px;
		height:60px;
		background-color:rgba(0,0,0,0.4);
		line-height:60px;
		text-align:center;
		color:white;
	}
    </style>
</head>
<body>
    <div class="wrapper">
        <div class="container">
            <div class="my_menu">
                <ul>
                    <a href="#"><li>로그인</li></a>
                    <a href="#"><li>회원가입</li></a>
                    <a href="#"><li>장바구니</li></a>
                    <a href="#"><li>주문조회</li></a>
                </ul>
            </div>
            <div class="menu">
                <div class="logo">
                    <img src="https://i.ibb.co/SV5mmV5/image.png" alt="로고">
                </div>
                <div class="nav">
                    <ul>
                        <a href="#"><li>남자한복</li></a>
                        <a href="#"><li>여자한복</li></a>
                        <a href="#"><li>남아한복</li></a>
                        <a href="#"><li>여아한복</li></a>
                        <a href="#">
                            <li>
                                한복소품
                                <ul class="submenu">
                                    <li>노리개</li>
                                    <li>모자</li>
                                    <li>가방</li>
                                    <li>헤어</li>
                                    <li>보자기</li>
                                </ul>
                            </li>
                        </a>
                        <a href="#"><li>한복대여</li></a>
                    </ul>
                </div>
            </div>
        </div>
        <div class="detail_img">
            <div class="order">
                <div class="item_name">
                    <p>[여자한복] KM102 연살구분홍</p>
                    <span style="margin-right:290px;">판매가</span>
                    <span style="font-size:30pt; font-weight:bold; margin-bottom:15px;">89,000원</span>
                </div>
                <div class="detail_order">
                    <div class="select1">
                        <select name="T-color">
                            <option value="ment" selected="selected">저고리 색상을 선택해주세요</option>
                            <option value="pink">분홍색</option>
                            <option value="red">빨간색</option>
                            <option value="mint">옥색</option>
                            <option value="blue">군청색</option>
                        </select>
                    </div>

                    <div class="select2">
                        <select name="S-color">
                            <option value="ment" selected="selected">치마 색상을 선택해주세요</option>
                            <option value="pink">분홍색</option>
                            <option value="red">빨간색</option>
                            <option value="mint">옥색</option>
                            <option value="blue">군청색</option>
                        </select>
                    </div>

                    <div class="select3">
                        <select id="select3" name="size" class="paragraphSpaceOPtion">
                            <option value="ment" selected="selected">사이즈를 선택해주세요</option>
                            <option value="S">S</option>
                            <option value="M">M</option>
                            <option value="L">L</option>
                        </select>
                    </div>

                    <div class="price">
                        <span style="font-size:18pt; margin-right:252px;">총 가격</span>
                        <span style="font-size:27pt; font-weight:bold; display:none; color:rgb(159,117,0);">89,000원</span>
                    </div>
                    @model Dalgucci.Models.Order
                <form class="form-horizontal" method="post" asp-controller="ProductOrder" asp-action="Add">
                    <div class="text-danger" asp-validation-summary="ModelOnly"></div>
                    <div class="buy_btn">
                        <button type="button" style="margin-right: 10px; background-color: rgb(110,98,89);"><a href="#">장바구니</a></button>
                        <button type="submit">구매하기</button>
                    </div>
                </form>
                    </div>
				
            </div>

            <img src="https://i.ibb.co/QK6cCfX/background.jpg" alt="배경">
        </div>
        <div class="contents">
            <ul>
                <li style="background-color:rgba(0,0,0,0.5);"><a href="#" style="color:white;">상품상세정보</a></li>
                <li><a href="#">사용후기</a></li>
                <li><a href="#">상품문의</a></li>
            </ul>
        </div>
        <div class="imgs">
            <img src="https://i.ibb.co/ZdR5jdf/image.jpg" alt="상세페이지">
        </div>
        <footer>
            <div class="undermenu">
                <div class="undermenu_logo">
                    <img src="C:\Users\Admin\Desktop\선바람\로고.png" alt="로고">
                </div>
                <div class="undermenu_content">
                    <ul>
                        <span>고객</span>
                        <li style="padding-top: 12px;"><a href="#">054 123 8888</a></li>
                        <li><a href="#">평일 09:30~18:00</a></li>
                        <li><a href="#">점심 12:00~13:00</a></li>
                        <li><a href="#">휴뮤(토,일 공휴일)</a></li>
                    </ul>
                    <ul>
                        <span>배송</span>
                        <li style="padding-top: 12px;"><a href="#">배송조회</a></li>
                        <li><a href="#">반품주소</a></li>
                        <li><a href="#">경상북도 안동시 경동</a></li>
                        <li><a href="#">1375안동대학교</a></li>
                    </ul>
                    <ul>
                        <span>도움</span>
                        <li style="padding-top: 12px;"><a href="#">Q&ampA</a></li>
                        <li><a href="#">쇼핑가이드</a></li>
                        <li><a href="#">개인정보처리방침</a></li>
                        <li><a href="#">이용약관</a></li>
                    </ul>
                    <ul>
                        <span>소셜미디어</span>
                        <li style="padding-top: 12px;"><a href="#">페이스북</a></li>
                        <li><a href="#">블로그</a></li>
                        <li><a href="#">인스타그램</a></li>
                    </ul>
                </div>
            </div>
            <div class="copylight">
                Copyright 2018. Dalgucci All pictures cannot be copied without permission.
            </div>
        </footer>
    </div>
    <script>
        $(".nav>ul>a>li").mouseover(function () {
            $(this).children(".submenu").stop().slideDown();
        });
        $(".nav>ul>a>li").mouseleave(function () {
            $(this).children(".submenu").stop().slideUp();
        });
        $('#select3').change(function () {
            var state = $('#select3 option:selected').val();
            if (state == 'S' || state == 'M' || state == 'L') {
                $('.price > span').show();
            }
            else {
                $('.price > span').hide();
            }
        });
    </script>
</body>
</html>
