@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<body>
	<h1>회원가입</h1>
	<form method="post" asp-controller="Join" asp-action="Join">
		<p>아이디: <input type="text" name="MemberID" /></p>
		<p>비밀번호: <input type="password" name="Password" /></p>
		<p>닉네임: <input type="text" name="NickName" /></p>
		<p>이메일: <input type="text" name="Email" /></p>
		<input type="submit" value="가입하기" />
	</form>
</body>
