@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<table class="table table-bordered">
    <thead>
        <tr>
            
            <th>주문번호</th>
            <th>상품코드</th>
            <th>주문자 번호</th>
            <th>주문시간</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var Order in Model)
        {
            <tr>
                <td>@Order.Order_No</td>
                <td>@Order.Product_Code</td>
                <td>@Order.User_No</td>
                <td>@Order.Order_Time</td>
            </tr>
        }
    </tbody>
</table>

<a class="btm btm-waring" asp-controller="Order" asp-action="Add">추가</a>