@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model Dalgucci.Models.Order
<body>
    <h1>주문</h1>

    <form method="post" asp-controller="ProductOrder" asp-action="Add">
        

        <select name="Color1">
            <option value=1 selected>빨강</option>
            <option value=2 selected>핑크</option>
            <option value=3 selected>연두</option>
        </select>

        <select name="Color2">
            <option value=1 selected>빨강</option>
            <option value=2 selected>핑크</option>
            <option value=3 selected>연두</option>
        </select>

        <select name="Size">
            <option value=1 selected>대</option>
            <option value=2 selected>중</option>
            <option value=3 selected>소</option>
        </select>
        <input type="submit" value="구매"  />
      
        @*<input type="submit" value="구매" asp-for="Product_Code" />
        <span asp-validation-for="Product_Code"></span>*@
    </form>




</body>